.bg-custom-login-image {
  background: url('login.jpg') center !important;
  background-size: cover;
}

.bg-custom-register-image {
  background: url('register.jpg') center;
  background-size: cover;
}
